body {
  background: url('../images/bottom.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  margin: auto;
}

.grid div {
  background-color: yellow;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.previous-grid {
  height: 80px;
  width: 80px;
  display: flex;
  flex-wrap: wrap;
}

.previous-shape {
  height: 80px;
  width: 80px;
  margin-bottom: 10px;
}

.green-block {
  background-image: url('../images/green_block.png');
}

.blue-block {
  background-image: url('../images/blue_block.png');
}

.pink-block {
  background-image: url('../images/pink_block.png');
}

.navy-block {
  background-image: url('../images/navy_block.png');
}

.peach-block {
  background-image: url('../images/peach_block.png');
}

.yellow-block {
  background-image: url('../images/yellow_block.png');
}

.block2 {
  background-color: purple;
}

.block3 {
  background-color: green;
}